/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;  
}
html {
    /*color: #333;*/
    font-size: 12px;
    line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
    resize: vertical;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   General 
   ========================================================================== */
html {
  font-family: 'Raleway', sans-serif;
}
h1 {
  font-size: 1.5em;
  letter-spacing: 15px;
  margin-left: 15px; /* centering compensation for letter-spacing*/
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
/* ==========================================================================
   General Layout / Structure
   ========================================================================== */
.container {
  width: 90%;
  text-align: center;
  margin: 0 auto;
  padding-top: 5em;
}
#portfolio-main-container {
  width: 90%;
  text-align: center;
  margin: 0 auto;
  padding-top: 5em;
  padding-bottom: 2em;
}
#services-main-container {
  width: 90%;
  text-align: center;
  margin: 0 auto;
  padding-top: 5em;
  padding-bottom: 2em;
}
.inner-container {
  padding: 1em 0 0 0;
  margin: 3em 0;
  background: #111;
}
.center {
  text-align: center;
}
/* ==========================================================================
   Nav
   ========================================================================== */
nav {
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.1);
  padding: 1em;
  z-index: 99;
  position: fixed;
  top: 0; 
  left:0; 
  right: 0;
  font-family: 'Raleway', sans-serif;
}
  nav a {
    text-decoration: none;
  }
  nav,
  nav a,
  nav a:visited {
    color: white;
  }
  nav > ul > li {
    font-weight: 700;
    letter-spacing: 2px;
    padding: 1em 0.5em;
    margin-right: 1em;
    display: inline;
    font-size: 0.7em;
  }
  nav > ul > li:first-child {
    font-size: 1.2em;
  }
/* ==========================================================================
   Landing
   ========================================================================== */
#landing {
  background: url(../img/a.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: -1.75em;
  padding-bottom: 1.75em;
  height: 100vh;
}
#name h1 {
  font-size: 3em;
  padding-top: 5em;
  font-weight: 700;
  text-align: center;
}
#name a,
#name a:visited {
  color: white;
}
/* ==========================================================================
   Services
   ========================================================================== */
#services {
  background: url(../img/b.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: -1.75em;
  padding-bottom: 1.75em;
  height: 100vh;
}

/* ==========================================================================
   Thumbanail sizes
   ========================================================================== */
#portfolio img {
    height: 120px;
}
#portfolio-page .thumbs img {
  height: 75px;
}
/* ==========================================================================
   Portfolio (Main Page)
   ========================================================================== */
#portfolio {
  background: black;
}
#portfolio-main-container .thumbs {
  padding-top: 2em;
}
/*wrapper and description for transparent overlay*/
.wrapper {
  margin: 0;
  float:left; /* important */  
  position:relative; /* important(so we can absolutely position the description div */  
}
  .wrapper a {
    display: block;
  }
.description{  
  position:absolute; /* absolute position (so we can position it where we want)*/  
  bottom:0; /* position will be on bottom */  
  left:0;  
  width: 122px;
  height: 122px;  
  /* styling below */ 
  text-align: left; 
  background: rgba(200, 200, 200, 0.75);
  font-size: 0.8em;  
  color: black;
}
  .description h2 {
    padding-top: 4em;
    margin-left: 10px;
    font-weight: 600;
    margin-bottom: -0.75em;
  }
  .description h3 {
    padding-top: -2em;
    margin-left: 10px;
    font-weight: 500;
  }
/* ==========================================================================
   Info
   ========================================================================== */
#info {
  height: 100vh;
  color: white;
  text-align: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: 18px;
  background:
    linear-gradient(
      rgba(255, 0, 0, 0.4), 
      rgba(255, 255, 0, 0.4)
    ), 
    url(../img/5.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
  #info h1,
  #info a,
  #info a:visited {
    color: white;
  }
  #info-text {
    margin: 0 auto;
    padding-top: 4em;
  }
  #info-text li {
    margin: 1em;
    font-weight: 800;
  }

/* ==========================================================================
   Project Page
   ========================================================================== */
#portfolio-page {
  background: black;
}
  #portfolio-page h2 {
    color: #ddd;
    font-weight: 400;
  }
    #portfolio-page h3 {
    color: #ddd;
    font-weight: 200;
  }
img {
  border: 1px solid #aaa;
}
.thumb a img {
  width: 100%;
}
.thumbs {
  padding-top: 0;
  padding-bottom: 2em;
  margin: 0 auto;
}
  .thumbs ul li {
    display: inline-block;
    margin: 0.5em;
  }
.container p {
  text-align: left;
  color: #ddd;
  width: 90%;
  margin: 0 auto 2em auto;
}
.container a,
.container a:visited {
  color: #ddd;
}
.inner-container img {
  max-width: 100%;
}
.link { /*link out to web*/
  padding: 0.75em 1.5em;
}
.large-image {
  width: 100%;
  margin: 2em auto; 
}
#links {
  font-size: 1em;
  font-weight: 900;
  text-align: center;
  padding-bottom: 1.5em;
}
  #links a {
    display: block;
    padding: 0.75em 1.5em;
    margin-top: 0.5em;
  }
  #links a,
  #links a:visited {
    color: #444;
  }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers:
 */
.hidden {
    display: none !important;
}
/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
    visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 420px) {
  h1 {
    font-size: 2.5em;
  }
  .container {
    width: 70%;
  }
  #portfolio-main-container {
    width: 80%;
  }
  #landing h1 {
    padding-top: 3em;
  }
  #info-text li {
    display: inline;
  }
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 14px;
  }
  p {
    line-height: 1.6;
  }
  h1 {
    font-size: 3em; 
  }
  nav {
    padding: 0.75em;
  }
    nav > ul > li {
      padding: 0.5em 1em;
      margin-right: 0.5em;
      font-size: 0.8em;
      letter-spacing: 8px;
    }
    nav > ul > li:first-child {
      font-size: 1.4em;
    }
  .container {
    width: 85%;
    padding-top: 6em;
  }
  #name {
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 24em;
  }
    #name h1 {
      font-size: 4em;
      padding-top: 2em;
      font-weight: 700;
      text-align: left;
      border-bottom: 1px solid white;
    }
  #portfolio {
    min-height: 100vh;
    padding-top: 6em;
  }
  #portfolio-main-container {
      padding-top: 2em;
  }
    #services {
    min-height: 100vh;
    padding-top: 6em;
  }
  #services-main-container {
      padding-top: 2em;
  }
  .description {  
    width:100%;
    height: 26%;  
  }
    .description h2 {
      padding-top: 0;
      font-weight: 600;
    }
  #portfolio img {
    width: 300px;
    height: 300px;
  }
  #portfolio-page .thumbs img {
    height: 150px;
  }
  #links {
    padding-bottom: 3em;
  }
    #links a {
      display: inline-block;
    }
  #info-text {
    font-size: 1.25em;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
@media only screen and (min-width: 1025px) {
  html {
    font-size: 16px;
  }
  p {
    line-height: 1.8;
  }
  #name {
    text-align: left;
  }
  a:hover {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
  }
  nav a:hover
  {
    color: yellow;
  }
  #name a:hover {
    background-color: white;
    color: #333;
  }
  a img:hover,
  .wrapper:hover {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-filter: brightness(80%);
  }
  #links a:hover {
    color: yellow;
  }
  .container a:hover {
    color: yellow;
  }
  #name h1 {
    margin-bottom: 0.5em;
  }
  #links {
    padding-top: 3em;
  }
}

@media only screen and (min-width: 1620px) {
  html {
    font-size: 18px;
  }
  p {
    line-height: 2;
  }
  .container {
    width: 60%;
  }
  .container-wide {
    width: 85%;
  }
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show#links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
